# 将此文件重命名为 .env.dev，并替换其中的API为您的API进行使用
# GOLD_API_KEY通过https://gold-api.com/dashboard/api-keys注册账号获取，免费的API即可
GOLD_API_KEY = "YOUR_GOLD_API_KEY_HERE"
# FRED_API_KEY通过https://fredaccount.stlouisfed.org/apikeys注册账号获取，同样的免费API即可
FRED_API_KEY = "YOUR_FRED_API_KEY_HERE"
HTTP_PROXY =
HTTP_PROXY =
DEBUG = false
# 默认不配置DATA_DIR的话，为"项目目录/data"
DATA_DIR=F:/机器学习/Strategy-Forge/backend/data_2

# 下面为AI相关模块配置，相关功能还在测试中，暂时无需配置
# 不配置相关内容仅会导致前端的chat通话无法使用（一个测试中的简单对话）不影响项目核心策略功能

# 从如下地址获取KEY 和 URL
#  https://api-docs.deepseek.com/zh-cn/
DEEPSEEK_API_KEY = YOUR_API
DEEPSEEK_BASE_URL = https://api.deepseek.com # 目前仅支持OpenAI格式
DEEPSEEK_MODEL = deepseek-v4-flash # deepseek-v4-flash/deepseek-v4-pro 参考 https://api-docs.deepseek.com/zh-cn/

# 从如下地址获取KEY 和 URL
# https://bailian.console.aliyun.com/cn-beijing/?tab=model&source_channel=hy_qwen#/api-key
QWEN_API_KEY = YOUR_API
QWEN_BASE_URL = https://{WorkspaceId}.cn-beijing.maas.aliyuncs.com/compatible-mode/v1   
QWEN_MODEL = qwen3.7-plus # 参考阿里云百炼模型广场以及您的API配置的支持的模型类型https://bailian.console.aliyun.com/cn-beijing/?tab=model&source_channel=hy_qwen#/model-market/all

OLLAMA_API_KEY = 'ollama' # required but ignored
OLLAMA_BASE_URL =   # Ollama 的 OpenAI 兼容端点
OLLAMA_MODEL =